<div class="jumbotron jumbotron-home">
	<div class="container">
		<h1>Welcome to my webapp</h1>
		<p>I will showcase my work here</p>
		<%= link_to "Learn More", "about", class: "btn btn-primary btn-lg" %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Welcome</h2>
			<p>srostamm</p>
			<p><%= link_to "view details", "#", class: "btn btn-secondary" %></p>
			</div> 
		<div class="col-md-4">
			<h2>Welcome</h2>
			<p>srostamm</p>
			<p><%= link_to "view details", "#", class: "btn btn-secondary" %></p>
			</div> 	

		<div class="col-md-4">
			<h2>Welcome</h2>
			<p>srostamm</p>
			<p><%= link_to "view details", "#", class: "btn btn-secondary" %></p>
			</div> 

		</div>
	</div>